* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  margin: 0;
  background-color: darkslategray;
  --border-color:  rgb(206, 161, 12);
  --red-text-color: rgb(201, 37, 37);
}

.input-section {
  margin: auto;
}

.input-input {
  height: 30px;
  color: black;
}

.input-button {
  height: 30px;
  background-color: whitesmoke;
}

.entire-card {
  width: 600px;
  height: 800px;
  margin: auto;
  border: var(--border-color) 15px solid;
  border-radius: 10px;
  filter: drop-shadow(8px 8px 10px black);
}

/* Energy Dictionary */
.entire-card.water {
  background-color: cornflowerblue;
}

.entire-card.grass {
  background-color: rgb(48, 174, 52);
}

.entire-card.fire {
  background-color: rgb(227, 92, 92);
}

.entire-card.fighting {
  background-color: rgb(145, 97, 55);
}

.entire-card.psychic {
  background-color: rgb(138, 61, 145);
}

.entire-card.colorless {
  background-color: rgb(214, 220, 230);
}

.entire-card.lightning {
  background-color: rgb(226, 228, 115);
}

.header {
  height: 12%;
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
  font-size: 35px;
  font-weight: 900;
  font-family: arial;
}

.left-header, .right-header {
  margin-top: auto;
}

.right-header {
  color: var(--red-text-color);
}

.image-container {
  width: 500px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  height: 350px;
  border:  var(--border-color) 10px solid;
  filter: drop-shadow(8px 8px 10px black);
}

.image-main {
  top: -95px;
  position: relative;
  left: -60px;
}

.moves-section {
  margin-top: 10px;
}

.ability {
  padding: 0 50px 0 50px;
}

.ability-name {
  font-size: 23px;
  font-weight: bolder;
  color: var(--red-text-color);
}

.moves-border {
  width: 95%;
  margin: 5px auto 0 auto;
  border-bottom: 2px black solid;
}

.move {
  display: flex;
  padding: 0 2.5%;
}

.move-costs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 12%;
}

.move-text {
  width: 76%;
  margin: auto;
  text-align: center;
}

.move-dmg {
  width: 12%;
}

.move-name {
  font-size: 20px;
  font-weight: 900;
}

.move-name-large {
  font-size: 37px;
  font-weight: 900;
}

.move-dmg {
  width: 12%;
  font-size: 40px;
  margin: auto;
}

.footer {
  display: flex;
}

.weaknesses {
  width: 33%;
}

.resistance {
  width: 33%;
}

.retreat {
  width: 33%;
}

.footer {
  text-align: center;
}

.footer-title {
  font-weight: 700;
}
