.entire-card {
  width: 600px;
  height: 825px;
  margin: auto;
  margin-bottom: 50px;
  border: var(--outer-border-color) 15px solid;
  border-radius: 10px;
  filter: drop-shadow(8px 8px 10px black);
}

img.noise {
  width: 570px;
  height: 795px;
  position: absolute;
  opacity: 0.45;
  z-index: -1;
}

/* Type Background Dictionary */
.entire-card.water {
  background-color: #1a70e7;
}

.entire-card.grass {
  background-color: #b6df4d;
}

.entire-card.fire {
  background-color: #f85502;
}

.entire-card.fighting {
  background-color: #bf7312;
}

.entire-card.psychic {
  background-color: rgb(138, 61, 145);
}

.entire-card.colorless {
  background-color: rgb(214, 220, 230);
}

.entire-card.lightning {
  background-color: #eeee5d;
}

.weaknesses {
  width: 33%;
}

.resistance {
  position: relative;
  width: 33%;
}

.resistance-dmg {
  position: absolute;
  bottom: 8px;
  right: 46px;
  font-weight: 700;
}

.retreat {
  width: 33%;
}

.footer {
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.footer-title {
  font-weight: 700;
}

.flavor-text {
  font-weight: 700;
  border: 3px var(--border-color) solid;
  margin: 5px auto;
  padding: 2px 5px;
  width: 90%;
  text-align: left;
}

.bottom-stuff {
  font-size: 10px;
  width: 100%;
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
}

.bottom-stuff-bold {
  font-weight: 800;
}
