.entire-card {
  width: 600px;
  height: 800px;
  margin: auto;
  margin-bottom: 50px;
  border: var(--border-color) 15px solid;
  border-radius: 10px;
  filter: drop-shadow(8px 8px 10px black);
}

/* Type Background Dictionary */
.entire-card.water {
  background-color: cornflowerblue;
}

.entire-card.grass {
  background-color: rgb(48, 174, 52);
}

.entire-card.fire {
  background-color: rgb(227, 92, 92);
}

.entire-card.fighting {
  background-color: rgb(145, 97, 55);
}

.entire-card.psychic {
  background-color: rgb(138, 61, 145);
}

.entire-card.colorless {
  background-color: rgb(214, 220, 230);
}

.entire-card.lightning {
  background-color: rgb(226, 228, 115);
}



.moves-section {
  margin-top: 10px;
}

.ability {
  padding: 0 50px 0 50px;
}

.ability-name {
  font-size: 23px;
  font-weight: bolder;
  color: var(--red-text-color);
}

.moves-border {
  width: 95%;
  margin: 5px auto 0 auto;
  border-bottom: 2px black solid;
}

.move {
  display: flex;
  padding: 0 2.5%;
}

.move-costs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 12%;
}

.move-text {
  width: 76%;
  margin: auto;
  text-align: center;
}

.move-dmg {
  width: 12%;
}

.move-name {
  font-size: 20px;
  font-weight: 900;
}

.move-name-large {
  font-size: 37px;
  font-weight: 900;
}

.move-dmg {
  width: 12%;
  font-size: 40px;
  margin: auto;
}

.footer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
}

.weaknesses {
  width: 33%;
}

.resistance {
  width: 33%;
}

.retreat {
  width: 33%;
}

.footer {
  text-align: center;
}

.footer-title {
  font-weight: 700;
}
