.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
}

.left-header {
  margin-top: auto;
  font-size: 40px;
  font-weight: 900;
  font-family: serif;
}

.right-header {
  margin-top: auto;
  font-weight: 300;
  font-size: 35px;
  font-family: arial;
  color: var(--red-text-color);
}
